<section class="content-header">
  <div class="row">
    <div class="col-8">
      <h1>
        新規企業登録
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= link_to '戻る', :back %>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="offset-3 col-6">
      <%= simple_form_for(@company, url: admin_company_index_path, method: :post) do |f| %>
        <%= f.input :name, placeholder: "会社名" %>
        <%= f.input :zip_code, placeholder: "郵便番号(ハイフンなし)" %>
        <%= f.input :address, placeholder: "住所" %>
        <%= f.input :tel, placeholder: "電話番号" %>
        <%= f.input :email, placeholder: "メールアドレス" %>
        <%= f.fields_for :company_setting, @company.company_setting || CompanySetting.new do |p|  %>
          <%= p.input :approve_auto_prepayment, collection: [["ON", :auto_prepayment_approved],["OFF", :auto_prepayment_not_approved]], checked: :auto_prepayment_approved, as: :radio_buttons, item_wrapper_class: "pl-4" %>
          <%= p.input :prepayment_allowed_percentage, placeholder: "○○(%)" %>
          <%= p.input :wage_calculation_time_unit, placeholder: "会社名" %>
          <%= p.input :send_alert_amount, placeholder: "会社名" %>
        <% end %>
        <%= f.submit '送信', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</section>
