<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <% if current_customer.image.present? %>
          <%= image_tag current_customer.image, class: "img-circle", alt: "User Image", size: '45x45' %>
        <% else %>
          <%= image_tag 'common/profile.svg', class: "img-circle", alt: "User Image", size: '45x45' %>
        <% end %>
      </div>
      <div class="pull-left info">
        <p><%= current_customer.name %></p>
        <div><i class="fa fa-circle text-success"></i><%= current_customer.company.try!(:name) %></div>
      </div>
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">選択してください</li>
      <li class="treeview <%= 'active menu-open' if controller_name == 'branch' %>">
        <a href="#">
          <i class="fa fa-male"></i> <span>WORKER</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <% current_customer.company.branches.each do |branch| %>
            <li>
              <%= link_to customer_branch_path(branch.id) do %>
                <i class="fa fa-circle-o"></i>
                <%= branch.name %>支店
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="treeview <%= 'active menu-open' if controller_name == 'apply' %>">
        <a href="#">
          <i class="fa fa-file"></i>
          <span>RECORD</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <% current_customer.company.branches.each do |branch| %>
              <li>
                <%= link_to customer_apply_path(branch.id) do %>
                  <i class="fa fa-circle-o"></i>
                  <%= branch.name %>支店
                <% end %>
              </li>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to customer_deposit_index_path do %>
          <i class="fa fa-bell"></i>
          <span>預かり金</span>
        <% end %>
      </li>
      <li>
        <%= link_to customer_information_index_path do %>
          <i class="fa fa-bell"></i>
          <span>お知らせ</span>
        <% end %>
      </li>
      <li>
        <%= link_to customer_setting_index_path do %>
          <i class="fa fa-cog"></i>
          <span>SETTING</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
