<section>
  <h2>
    よくあるお知らせ
  </h2>
  <ul>
    <li><%= link_to "よくある質問タイトル", help_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくある質問タイトル", help_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくある質問タイトル", help_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくある質問タイトル", help_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくある質問タイトル", help_detail_static_index_path(n: 1, type: 1) %></li>
  </ul>
</section>
