<section>
  <h2>
    よくあるお知らせ
  </h2>
  <ul class="underbar_list">
    <li><%= link_to "よくあるお知らせ", notification_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくあるお知らせ", notification_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくあるお知らせ", notification_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくあるお知らせ", notification_detail_static_index_path(n: 1, type: 1) %></li>
    <li><%= link_to "よくあるお知らせ", notification_detail_static_index_path(n: 1, type: 1) %></li>
  </ul>
</section>
