<section class="content-header">
  <div class="row">
    <div class="col-8">
      <h1>
        顧客利用ユーザ一覧
      </h1>
    </div>
    <div class="col-4">
      <%= link_to '新規作成', new_admin_customer_path, class: "btn btn-primary" %>
    </div>
  </div>
</section>
<section class="content">
  <%= form_tag admin_customer_index_path, class: "form-row align-items-center mb-2", method: "get" do %>
    <div class="col-12 col-md-4 mb-2">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <input type="text" class="form-control" placeholder="顧客利用ユーザ" name="query">
      </div>
    </div>
    <div class="col-6 col-md-1 mb-2">
      <button type="submit" class="btn btn-primary">検索</button>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-footer clearfix">
          <%= paginate @customers, views_prefix: 'customer' %>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>顧客利用ユーザ所属企業</th>
              <th>顧客利用ユーザ名</th>
              <th>Egate担当</th>
              <th>代理ログイン</th>
              <th>　</th>
            </tr>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.company.name %></td>
                <td><%= customer.name %></td>
                <td><%= customer.charged_name %></td>
                <td><%= link_to "このユーザアカウントでログイン", login_customer_admin_customer_path(customer.id) %></td>
                <td><%= link_to '編集', edit_admin_customer_path(customer.id), class: 'btn btn-success' %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="box-footer clearfix">
          <%= paginate @customers, views_prefix: 'customer' %>
        </div>
      </div>
    </div>
  </section>
