<section class="content-header">
  <div class="row">
    <div class="col-xs-8">
      <h1>
        <%= @branch.name %>支店
      </h1>
    </div>
    <div class="col-xs-4 clearfix">
      <%= link_to "新規作成", new_customer_worker_path(branch_id: @branch.id), class: "btn btn-warning mt25 pull-right" %>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-footer clearfix">
          <%= paginate @worker_list, views_prefix: 'customer' %>
        </div>
        <div class="box-body table-responsive no-padding">
          <worker-accordion worker-list="<%= @worker_list.to_json %>">
          </worker-accordion>
        </div>
        <div class="box-footer clearfix">
          <%= paginate @worker_list, views_prefix: 'customer' %>
        </div>
      </div>
    </div>
  </div>
</section>
