<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <% if current_admin.image.present? %>
          <%= image_tag current_admin.image, class: "img-circle", alt: "User Image", size: '45x45' %>
        <% else %>
          <%= image_tag 'common/profile.svg', class: "img-circle", alt: "User Image", size: '45x45' %>
        <% end %>
      </div>
      <div class="pull-left info">
        <p><%= current_admin.name %></p>
      </div>
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">選択してください</li>
      <li>
        <%= link_to admin_apply_index_path do %>
          <i class="fa fa-male"></i> <span>振込</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_customer_index_path do %>
          <i class="fa fa-male"></i> <span>契約企業</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_information_index_path do %>
          <i class="fa fa-male"></i> <span>お知らせ配信</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
